# Ignores conflicting subpackage BUILD and WORKSPACE files from nested gclient checkouts
# so we do not have to rename or modify them on the local filesystem.
common --deleted_packages=third_party/boringssl/src,third_party/perfetto/src,third_party/perfetto/src/bazel,third_party/perfetto/src/python

# Enforce Bazel 10 style source file visibility checks in Bazel 9
build --incompatible_no_implicit_file_export

# Import remote execution and dashboard configurations
try-import %workspace%/infra/remote_execution/bazelrc

# Configure workspace status command for stamping
build --workspace_status_command=tools/bazel/workspace_status.py

# Run C++ compilations sandboxed
build --strategy=CppCompile=sandboxed

# Memory and I/O execution optimizations for Action Cache and Disk Cache verification
build --experimental_inmemory_dotd_files
build --remote_cache_async
build:ci --guard_against_concurrent_changes=false
build:ci --config=remote-cache
