[bucket "luci.dart.try"]
  builder = analyzer-linux-release-strong-hostchecked-try
  builder = vm-canary-linux-debug-try
  builder = vm-linux-release-x64-try
  builder = vm-mac-release-x64-try
  builder = dart2js-linux-d8-hostchecked-try
  builder = dart2js-linux-d8-kernel-minified-try
  builder = dart2js-linux-none-only-unittest-try
  builder = pkg-linux-release-try
  builder = dart2js-linux-chrome-try
  builder = ddc-linux-release-chrome-try
  builder = vm-linux-product-x64-try
  builder = dart-sdk-windows-try
  builder = vm-kernel-mac-release-x64-try
  builder = benchmark-linux-try
