[submit]
	action = rebase always
	matchAuthorToCommitterDate = true
[access "refs/heads/analyzer"]
	exclusiveGroupPermissions = submit
[access "refs/heads/dev"]
	push = group dart-sdk-merge
[access "refs/heads/base"]
	exclusiveGroupPermissions = submit
	push = group dart-sdk-base-roller
[access "refs/heads/lkgr"]
	exclusiveGroupPermissions = submit
	push = group dart-sdk-lkgr-roller
	rebase = group dart-sdk-lkgr-roller
[access "^refs/for/refs/heads/(base|lkgr)/.*"]
	exclusiveGroupPermissions = create push
[access "refs/tags/*"]
	createTag = group dart-sdk-release
[access "^refs/tags/.*dev"]
	createTag = group dart-sdk-merge
[access "^refs/heads/(beta|stable)"]
	push = group dart-sdk-merge
[submit-requirement "Commit-Message-Has-TEST"]
	description = "Dart VM changes must include a 'Tested: <description of how this change was tested>' footer. See also: https://github.com/dart-lang/sdk/wiki/Gerrit-Submit-Requirements#commit-message-has-test"
	applicableIf = branch:main AND NOT ownerin:bots AND NOT is:pure-revert AND directory:\"^(runtime/(vm|bin|lib|include|observatory|observatory_2)|pkg/vm|sdk/lib/_internal/vm)\"
	submittableIf = hasfooter:Tested OR message:\"^.*\nTEST(ED)?=.+\"
	canOverrideInChildProjects = false
[submit-requirement "Core-Library-Review"]
	description = "SDK core library changes need to be approved for each platform or have a 'CoreLibraryReviewExempt: <reason>' footer. See also: https://github.com/dart-lang/sdk/wiki/Gerrit-Submit-Requirements#core-library-review"
	applicableIf = branch:main AND NOT ownerin:bots AND NOT is:pure-revert AND path:\"^sdk/lib/[^_].*\\.dart$\"
	submittableIf = hasfooter:CoreLibraryReviewExempt OR ((label:Code-Review=+1,group=mdb/dart-core-library-change-approvers-api OR ownerin:mdb/dart-core-library-change-approvers-api) AND (label:Code-Review=+1,group=mdb/dart-core-library-change-approvers-vm OR ownerin:mdb/dart-core-library-change-approvers-vm) AND (label:Code-Review=+1,group=mdb/dart-core-library-change-approvers-wasm OR ownerin:mdb/dart-core-library-change-approvers-wasm) AND (label:Code-Review=+1,group=mdb/dart-core-library-change-approvers-web OR ownerin:mdb/dart-core-library-change-approvers-web))
	canOverrideInChildProjects = false
[submit-requirement "Changelog"]
	description = "Stable cherry-picks must explain the changes in CHANGELOG.md or have a 'Changelog-Exempt: reason' footer. See also: https://github.com/dart-lang/sdk/wiki/Cherry-picks-to-a-release-channel#changelog"
	applicableIf = branch:stable
	submittableIf = path:CHANGELOG.md OR hasfooter:Changelog-Exempt
	canOverrideInChildProjects = false
[submit-requirement "Cherry-Pick"]
	description = "Commit message must contain [beta] or [stable] hashtags; Cherry-pick: must link to the original changelist; Cherry-pick-request must link to the cherry-pick request on github; and stale Reviewed-on, Reviewed-by, and Commit-Queue footers must be removed. See also: https://github.com/dart-lang/sdk/wiki/Gerrit-Submit-Requirements#cherry-pick"
	applicableIf = (branch:beta or branch:stable) AND NOT path:\"^tools/VERSION$\"
	submittableIf = hasfooter:Cherry-pick AND hasfooter:Cherry-pick-request AND ((branch:beta AND message:\"^.*beta.*\") OR (branch:stable AND message:\"^.*stable.*\")) AND NOT hasfooter:Reviewed-on AND NOT hasfooter:Reviewed-by AND NOT hasfooter:Commit-Queue
	canOverrideInChildProjects = false
