[access "refs/heads/*"]
	label-Commit-Queue = +0..+2 group dart-sdk-external-committers
	label-Commit-Queue = +0..+2 group mdb/dart-team
	abandon = group dart-sdk-external-committers
	abandon = group mdb/dart-team
	labelAs-Commit-Queue = +0..+2 group chrome-commit-bot
	labelAs-Commit-Queue = group mdb/dart-team
	submit = group chrome-commit-bot
	submit = group dart-sdk-external-committers
	submit = group mdb/dart-team
	deleteOwnChanges = group dart-sdk-external-committers
	deleteOwnChanges = group mdb/dart-team
	label-Auto-Submit = +0..+1 group Change Owner
	label-Benchmark = +0..+1 group mdb/dart-repo-team
	label-Code-Review = -1..+1 group dart-sdk-external-committers
	label-Verified-Google3-Presubmit = -1..+1 group mdb/copybara-git-writers
	label-Verified-Google3-Presubmit = -1..+1 group mdb/dart-repo-team
	push = group mdb/dart-repo-team
	pushMerge = group mdb/dart-repo-team
[label "Commit-Queue"]
	abbreviation = CQ
	value = 0 Not ready
	value = +1 Dry run
	value = +2 Commit
	defaultValue = 0
	function = NoBlock
[label "Auto-Submit"]
	function = NoBlock
	defaultValue = 0
	copyMinScore = true
	copyMaxScore = true
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
	value = 0 Do not send CL to CQ automatically after approval
	value = +1 Send CL to CQ automatically after approval
[label "Benchmark"]
	function = NoBlock
	value = 0 No score
	value = +1 Benchmark CL
	defaultValue = 0
[label "Verified-Google3-Presubmit"]
	abbreviation = G3
	function = NoBlock
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
	value = -1 Verification failed
	value = 0 No score
	value = +1 Verification passed
	defaultValue = 0
[access "refs/for/refs/*"]
	exclusiveGroupPermissions = addPatchSet
	addPatchSet = group chrome-commit-bot
	addPatchSet = group dart-sdk-external-committers
	addPatchSet = group mdb/dart-team
	create = group dart-sdk-external-committers
	create = group mdb/dart-team
	forgeAuthor = group dart-sdk-external-committers
	forgeAuthor = group mdb/dart-team
	push = group dart-sdk-external-committers
	push = group mdb/dart-team
	deleteOwnChanges = group dart-sdk-external-committers
	deleteOwnChanges = group mdb/dart-team
	abandon = group dart-sdk-external-committers
	abandon = group mdb/dart-team
[submit]
	action = rebase always
	matchAuthorToCommitterDate = true
[access "refs/heads/analyzer"]
	submit = deny group chrome-commit-bot
	submit = deny group dart-sdk-external-committers
	submit = deny group mdb/dart-team
[access "refs/heads/analyzer-0.33"]
	createTag = group mdb/dart-team
[access "refs/heads/dev"]
	push = group cria/project-dart-ci-task-accounts
	pushMerge = group cria/project-dart-ci-task-accounts
	createTag = group cria/project-dart-ci-task-accounts
[access "^refs/heads/(base|lkgr)"]
	push = group cria/project-dart-ci-task-accounts
	pushMerge = group cria/project-dart-ci-task-accounts
	rebase = group cria/project-dart-ci-task-accounts
	submit = block group dart-sdk-external-committers
	submit = block group mdb/dart-team
[access "^refs/for/refs/heads/(base|lkgr)/.*"]
	create = block group dart-sdk-external-committers
	create = block group mdb/dart-team
	push = block group dart-sdk-external-committers
	push = block group mdb/dart-team
[access "refs/heads/analyzer-stable"]
	createTag = group mdb/dart-team
[access "refs/tags/*"]
	createTag = group mdb/dart-repo-team
[access "refs/*"]
	read = group Anonymous Users
	read = group Registered Users
[access "refs/heads/nnbd-unfork"]
	push = group mdb/dart-team
[access "refs/heads/ci-test-data"]
	push = +force group mdb/dart-repo-team
